*{
  box-sizing: border-box;
  margin: 0;

}

.App {
  text-align: center;
}

body {
  width: 100%;
  height: 100%; 
  background: rgb(25 25 25);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



header {
  padding: 60px 0 20px 0;

  margin: auto;

  align-items: center;
}


.menu{
  width: 180px;
  border: 0;
  border-spacing:0;
  position: relative;
    display: table;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}
.menu td{

  margin: 0;
  padding: 0;
  border: 0;
}
.search-area{
  margin-bottom: 0px;
 
}

.search {
  
  min-width: 63%;
  max-width:500px;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;


}

.searchTerm {
  text-align: center;
  width: 100%;
  border: 3px solid #343a40;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #3d3d3d;
  height: 39px;
  font-size: 16px;
}

.searchButton {
  margin-left: -35px;
  width: 40px;
  height: 39px;
  border: 1px solid #343a40;
  background: #343a40;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


.MsgBox{
  padding: 10px;
  font-size: 11px;
}

.void-star {
  color: rgb(87, 83, 83);
}

.fill-star {
  color: rgb(52, 7, 216);
}

.pagination{
  margin-top: 30px;
  color: #fff;
  justify-content: center;
}

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 50px 0px 30px 0px;
  color: #fff;
  font-size: 10px;
}

ul.pagination li {display: inline;}

ul.pagination li a {
  color: rgb(255, 255, 255);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
ul.pagination li.active a {
  background-color: rgb(3, 156, 177);
  color: white;
}

ul.pagination li:not(.active) a:hover {background-color: rgb(3, 156, 177);}

ul.pagination li a {
  border-radius: 5px;
}

ul.pagination li.active a {
  border-radius: 5px;
}

ul.pagination li a {
  transition: background-color .3s;
}
ul.pagination li a {
  border: 1px solid rgb(3, 156, 177); 
}
.pagination li:first-child a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
ul.pagination li a {
  margin: 0 4px; 
}



.card-container {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 30px;
  max-width: 950px;
  margin: 0 auto 30px;
}

.card {
  display: inline-block;
  width: 250px;
  height: 350px;
  margin: 25px;
  vertical-align: top;
  position: relative;
  background: #fff;
  border-radius: 5px;
  overflow:hidden;
  
}

.card:hover  .card-description{
  position: relative;
  top: -193px;
  transition: 0.5s ease;
}
.card:hover  .card-img{
  width: 110%;
  margin-left: -5%;
  transition: 0.5s ease;
}
.card-cover {
  border: 2px solid rgb(255, 255, 255);
  height: 80%;
  overflow: hidden;
  background: rgb(255, 255, 255);
  
}

.card-img {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: block;
  transition: 0.5s ease;
}

.card-description {
  background: #fff;
  width: 100%;
  height: 350px;
  padding: 10px;
  position: relative;
  top: 0px;
  transition: 0.5s ease;
}

.card-title { 
  color: #000;
  font-family: 'Enriqueta', arial, serif; 
  line-height: 1.10; 
  margin: 0 0 5px;
  font-size: 15px; 
  font-weight: bold;
  height: 33px;
    overflow: hidden;
}

.card-text {
  color: #000000;
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 8px;
}
.card-desc{
  height: 120px;

}
.card-favorite {
  height: 50px;
}





@media(max-width:700px)/*aqui você define a largura do dispositivo*/
{    
 .logo_img{
 width: 150px;
  }  
  .menu{

      font-size: 12px;
  }
  .searchTerm{
    font-size: 12px;
  }

}

